* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', -apple-system, sans-serif;
}

.container {
    padding: 20px;
}

.wrapper {
    width: 480px;
    margin: 0 auto;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.hint {
    color: #555;
}

.game-field { 
    background: #eee;
    width: 480px;
    height: 320px;
}